<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IssueSystem.Properties.Settings.carparkConnectionString"
      connectionString="Data Source=172.16.1.89;Initial Catalog=carpark;Persist Security Info=True;User ID=secure;Password=weishenme"
      providerName="System.Data.SqlClient" />
    <add name="IssueSystem.Properties.Settings.ConnectionString"
      connectionString="Data Source=172.16.1.89;Persist Security Info=True;User ID=secure;Password=weishenme"
      providerName="System.Data.SqlClient" />
    <add name="IssueSystem.Properties.Settings.SunparkCentralConnectionString"
      connectionString="Data Source=192.168.1.38;Initial Catalog=SunparkCentral;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="B26ENTRY1IP" value="192.168.143.119"/>
    <add key="B26ENTRY1Rely" value="1"/>
    <add key="B26EXIT1IP" value="192.168.143.119"/>
    <add key="B26EXIT1Rely" value="2"/>
    <add key="B27ENTRY1IP" value="192.168.143.119"/>
    <add key="B27ENTRY1Rely" value="3"/>
    <add key="B27EXIT1IP" value="192.168.143.119"/>
    <add key="B27EXIT1Rely" value="4"/>
    <add key="U19ENTRY1IP" value="192.168.146.50"/>
    <add key="U19ENTRY1Rely" value="9"/>
    <add key="U19EXIT1IP" value="192.168.146.50"/>
    <add key="U19EXIT1Rely" value="7"/>
    <add key="U19ENTRY2IP" value="192.168.146.50"/>
    <add key="U19ENTRY2Rely" value="11"/>
    <add key="U19EXIT2IP" value="192.168.146.50"/>
    <add key="U19EXIT2Rely" value="13"/>
    <add key="U45ENTRY1IP" value="192.168.146.50"/>
    <add key="U45ENTRY1Rely" value="3"/>
    <add key="U45EXIT1IP" value="192.168.146.50"/>
    <add key="U45EXIT1Rely" value="1"/>
    <add key="U45EXIT2IP" value="192.168.146.50"/>
    <add key="U45EXIT2Rely" value="5"/>
    <add key="BKRMENTRY1IP" value="192.168.132.119"/>
    <add key="BKRMENTRY1Rely" value="1"/>
    <add key="BKRMENTRY2IP" value="192.168.132.119"/>
    <add key="BKRMENTRY2Rely" value="3"/>
    <add key="BKRMEXIT1IP" value="192.168.132.119"/>
    <add key="BKRMEXIT1Rely" value="3"/>
    <add key="CVBKEXIT1IP" value="192.168.132.119"/>
    <add key="CVBKEXIT1Rely" value="5"/>
    <add key="CVBKENTRY2IP" value="192.168.132.119"/>
    <add key="CVBKENTRY2Rely" value="6"/>
    <add key="CVBKEXIT2IP" value="192.168.132.119"/>
    <add key="CVBKEXIT2Rely" value="7"/>
    <add key="CVBKENTRY3IP" value="192.168.132.119"/>
    <add key="CVBKENTRY3Rely" value="8"/>
    <add key="CVBKENTRY1IP" value="192.168.132.119"/>
    <add key="CVBKENTRY1Rely" value="4"/>
    <add key="CVBKEXIT3IP" value="192.168.132.119"/>
    <add key="CVBKEXIT3Rely" value="9"/>
    <add key="U4ENTRY1IP" value="192.168.153.119"/>
    <add key="U4ENTRY1Rely" value="3"/>
    <add key="U4EXIT1IP" value="192.168.153.119"/>
    <add key="U4EXIT1Rely" value="4"/>
    <add key="KJM2ENTRY1IP" value="192.168.141.119"/>
    <add key="KJM2ENTRY1Rely" value="1"/>
    <add key="KJM2EXIT1IP" value="192.168.141.119"/>
    <add key="KJM2EXIT1Rely" value="2"/>
    <add key="KJM2ENTRY2IP" value="192.168.141.119"/>
    <add key="KJM2ENTRY2Rely" value="3"/>
    <add key="KJM2EXIT2IP" value="192.168.141.119"/>
    <add key="KJM2EXIT2Rely" value="4"/>
    <add key="KJ3ENTRY1IP" value="192.168.138.119"/>
    <add key="KJ3ENTRY1Rely" value="1"/>
    <add key="KJ3EXIT1IP" value="192.168.138.119"/>
    <add key="KJ3EXIT1Rely" value="2"/>
    <add key="KJ3ENTRY2IP" value="192.168.138.119"/>
    <add key="KJ3ENTRY2Rely" value="3"/>
    <add key="KJ3EXIT2IP" value="192.168.138.119"/>
    <add key="KJ3EXIT2Rely" value="4"/>
    <add key="J32ENTRY1IP" value="10.4.163.119"/>
    <add key="J32ENTRY1Rely" value="4"/>
    <add key="J32EXIT1IP" value="10.4.163.119"/>
    <add key="J32EXIT1Rely" value="3"/>
    <add key="J32ENTRY2IP" value="10.4.163.119"/>
    <add key="J32ENTRY2Rely" value="5"/>
    <add key="J33ENTRY1IP" value="10.4.163.119"/>
    <add key="J33ENTRY1Rely" value="6"/>
    <add key="J33EXIT1IP" value="10.4.163.119"/>
    <add key="J33EXIT1Rely" value="7"/>
    <add key="JM1ENTRY1IP" value="10.4.163.119"/>
    <add key="JM1ENTRY1Rely" value="1"/>
    <add key="JM1EXIT1IP" value="10.4.163.119"/>
    <add key="JM1EXIT1Rely" value="2"/>
    <add key="J32EXIT2IP" value="10.4.163.119"/>
    <add key="J32EXIT2Rely" value="5"/>
    <add key="GM2ENTRY1IP" value="192.168.130.119"/>
    <add key="GM2ENTRY1Rely" value="1"/>
    <add key="GM2EXIT1IP" value="192.168.130.119"/>
    <add key="GM2EXIT1Rely" value="2"/>
    <add key="GM3ENTRY1IP" value="192.168.130.119"/>
    <add key="GM3ENTRY1Rely" value="10"/>
    <add key="GM3EXIT1IP" value="192.168.130.119"/>
    <add key="GM3EXIT1Rely" value="11"/>
    <add key="GM5ENTRY1IP" value="192.168.130.119"/>
    <add key="GM5ENTRY1Rely" value="12"/>
    <add key="GM5EXIT1IP" value="192.168.130.119"/>
    <add key="GM5EXIT1Rely" value="13"/>
    <add key="GM2A6AENTRY1IP" value="192.168.130.119"/>
    <add key="GM2A6AENTRY1Rely" value="3"/>
    <add key="GM2A6AEXIT1IP" value="192.168.130.119"/>
    <add key="GM2A6AEXIT1Rely" value="4"/>
    <add key="GM2A6AENTRY2IP" value="192.168.130.119"/>
    <add key="GM2A6AENTRY2Rely" value="5"/>
    <add key="GM2A6AEXIT2IP" value="192.168.130.119"/>
    <add key="GM2A6AEXIT2Rely" value="6"/>
    <add key="GM6BENTRY1IP" value="192.168.130.119"/>
    <add key="GM6BENTRY1Rely" value="7"/>
    <add key="GM6BEXIT1IP" value="192.168.130.119"/>
    <add key="GM6BEXIT1Rely" value="9"/>
    <add key="KJMLLBENTRY1IP" value="192.168.141.119"/>
    <add key="KJMLLBENTRY1Rely" value="3"/>
    <add key="KJMLLBEXIT1IP" value="192.168.141.119"/>
    <add key="KJMLLBEXIT1Rely" value="4"/>
    <add key="U3ENTRY1IP" value="192.168.143.119"/>
    <add key="U3ENTRY1Rely" value="1"/>
    <add key="U3EXIT1IP" value="192.168.153.119"/>
    <add key="U3EXIT1Rely" value="2"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
